h1{
    background-color: lavenderblush;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:darkslateblue;
}
h2{
    color: indigo;
}
body{
    background-color: lavender;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
img {
    max-width: 100%;
}
hr{
    max-width: 1000px;
}
#wrapper {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 900px;
}
.center {
    text-align: center;
}